<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>

<h1> The result is </h1>

<form action="/calculator" method="get">
  <label for="a">Number A:</label>
  <input type="number" name="a" id="a" required>

  <label for="b">Number B:</label>
  <input type="number" name="b" id="b" required>

  <label for="action">Action:</label>
  <select name="action" id="action">
    <option value="multiplication">Multiplication</option>
    <option value="division">Division</option>
    <option value="substraction">Subtraction</option>
    <option value="addition">Addition</option>
  </select>

  <button type="submit">Calculate</button>
</form>

<p th:if="${result != null}">Result: <span th:text="${result}"></span></p>

</body>
</html>